.MainBox{
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fgiphy.com%2Fexplore%2Fdrift-loop&psig=AOvVaw2f9XshB3N6l5E2aG81KV8R&ust=1742836094116000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJjSn8XYoIwDFQAAAAAdAAAAABAP");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.error {
  color: #d9534f;
  background: #f8d7da;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}

button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background: #cc0000;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}